.meta_course:before {
	content: "Middleware Architectures 1";
}

.meta_author:before {
	content: "Assoc. Prof. Tomas Vitvar, Ph.D.";
}

.meta_email:before {
	content: "tomas.vitvar@fit.cvut.cz";
}

.meta_twitter:before {
	content: "@TomasVitvar";
}

.meta_web:before {
	content: "https://vitvar.com";
}

.meta_semester:before {
	content: "CTU Winter Semester 2022/2023";
}

.meta_org:before {
	content: "Czech Technical University in Prague";
}

.meta_orgfac:before {
	content: "Faculty of Information Technologies";
}

.meta_field:before {
	content: "Web Intelligence Research Group";
}

.meta_orgweb:before {
	content: "https://vitvar.com";
}

div.oracle-academy {
	width: 200px;
	float: left;
	background: url('oracle-academy.png') left top no-repeat;
	margin-left: 0px;
	margin-top: 3px;
	height: 50px;
	opacity: 0.7;
}

div.oppa {
	width: 400px;
	/*float: left;*/
	background: url('oppa2.png') left top no-repeat;
	margin-left: 210px;
	margin-top: 3px;
	height: 50px;
	opacity: 0.7;
}

.meta_logo {
	background-image: url('cvut_logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	height: 188px;
	margin: 25px auto 25px auto;
	zoom: 0.8;
}